.button {
  display: flex;
  height: 56px;
  background-color: $accent-text-color;
  justify-content: center;
  align-items: center;
  border: none;

  transition:
    background-color 0.2s,
    color 0.2s;

  &:hover {
    background-color: #ae1c23;
  }

  &:active {
    background-color: #eb343d;
  }

  &-link {
    color: #fff;
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-decoration: none;
  }
}
