.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 180px;

  width: 100%;
  display: block;
  background-image: url('../images/footer-background.png');
  background-size: сщмук;
  background-position: center;

  @include on-tablet {
    height: 359px;
    min-width: 768px;
  }

  @include on-desktop {
    height: 359px;
    min-width: 1260px;
  }
}
