.form {
  display: flex;
  flex-direction: column;

  &-input {
    background-color: #f8f8fa;
    border: none;
    height: 48px;
    margin-bottom: 16px;

    &--message {
      height: 144px;
      margin-bottom: 32px;
    }

    &::placeholder {
      font-family: Cinzel, serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
    }
  }
}
