.form {
  display: flex;
  flex-direction: column;

  &-input {
    padding: 0;
    padding-left: 16px;
    background-color: #f8f8fa;
    border: none;
    height: 48px;
    margin-bottom: 16px;
    color: $main-text-color;

    &--message {
      height: 144px;
      margin-bottom: 32px;
      padding-top: 14px;
      resize: none;
    }

    &::placeholder {
      font-family: Cinzel, serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
    }

    &:hover {
      border: 1px solid #d5d7de;
    }

    &:focus {
      outline: none;
      border: 1px solid #161616;
    }
  }
}
