.on-view {
  &__title {
    margin-bottom: 8px;
  }

  &__description {
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    color: $main-text-color;
  }

  &__wrapper {
    @include page-grid;

    row-gap: 48px;
    margin-bottom: 40px;
  }

  &__item {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 6 / -6;
    }

    @include on-desktop {
      grid-column: 12 / -12;
    }

    &-photoes {
      @include page-grid;

      margin-bottom: 24px;
    }

    &-link {
      position: relative;
      overflow: hidden;

      &--wide {
        @include on-tablet {
          grid-column: span 4;
        }

        @include on-desktop {
          grid-column: span 8;
        }
      }

      &--square {
        padding-bottom: 100%;
        height: 0;

        @include on-tablet {
          grid-column: span 2;
        }

        @include on-desktop {
          grid-column: span 4;
        }

        &--third {
          display: none;
        }

        @include on-tablet {
          display: block;
        }

        @include on-desktop {
          display: block;
        }
      }
    }

    &-picture {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 24px;

      @include hover(transform, scale(1.2));

      &:hover {
        transform: scale(1.2);
      }
    }

    &-title {
      margin: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0;
      color: $accent-text-color;
    }

    &-description {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0;
      color: $main-text-color;
    }
  }

  &__button {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    @include on-desktop {
      grid-column: 5 / 9;
    }
  }
}
